<!doctype html>
<html lang="en-US">
  <head>
    <title>Subscribe To Black Family Wealth</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=AWpvdvm8iY8J59xMvZ5HAL17e3MVY03gEUX4Dpu95D2HObgTp3p8EAbmRBKVdXaFHeE6l7-v9DgrB_ug&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
    <script>
      paypal.Buttons({
          style: {
              shape: 'pill',
              color: 'gold',
              layout: 'vertical',
              label: 'subscribe'
          },
          createSubscription: function(data, actions) {
            return actions.subscription.create({
              'plan_id': 'P-72N38644GG578520WL7EVWPY'
            });
          },
          onApprove: function(data) {
            window.location.href = "/subscribeSuccess";
          },
          onCancel: function(data) {
            window.location.href = "/subscribeCancelled";
          },
          onError: function(error) {
            console.error(error);
            window.location.href = "/subscribeCancelled";
          }
      }).render('#paypal-button-container');
    </script>
  </body>
</html>