#set($data = [])
#foreach($item in ${ctx.args.input})
    $util.qr($item.put("__typename", "Notification"))
    $util.qr($item.put("id", $util.defaultIfNullOrBlank($item.id, $util.autoId())))
    $util.qr($item.put("createdAt", $util.defaultIfNullOrBlank($item.createdAt, $util.time.nowISO8601())))
    $util.qr($data.add($util.dynamodb.toMapValues($item)))
#end
{
  "version": "2018-05-29",
  "operation": "BatchPutItem",
  "tables": {
      "Notifications-r3h5azojtvecza2ui2w5vtjyiy-bfw": $utils.toJson($data)
  }
}